<h2>Version 3.2.0</h2>
<ul>
    <li>Added button which defines is first row header row or not</li>
    <li>Added "Add header row" button</li>
    <li>Support for NetBeans 10.0</li>
</ul>

<h2>Version 3.1.0</h2>
<ul>
    <li>Support for NetBeans 9.0</li>
    <li>Fixed table view in Darcula LAF</li>
    <li>Text tab renamed to Source</li>
</ul>

<h2>Version 3.0.1</h2>
<ul>
    <li>Support for NetBeans 8.2</li>
</ul>

<h2>Version 3.0.0</h2>
<h3>Added</h3>
<ul>
    <li><b>Show/hide columns</b></li>
    <li>Filter rows (Right-click on column header)</li>
    <li>Sort rows</li>
    <li>Tab char as separator</li>
</ul>
<h3>Fixed</h3>
<ul>
    <li>Using pipe as separator</li>
    <li>Fixed some minor bugs</li>
</ul>

<h2>Version 2.2.1</h2>
<h3>Added</h3>
<ul>
    <li>Reordering rows via Drag and Drop</li>
</ul>
<ul>
    <li>Template description</li>
</ul>
<h3>Improved</h3>
<ul>
    <li>Row number rendering</li>
</ul>

<h2>Version 2.1.1</h2>
<ul>
    <li>Fixed some minor bugs</li>
</ul>

<h2>Version 2.1</h2>
<h3>Added</h3>
<ul>
    <li><b>Quoting support</b>
    </li><li>Possibility to choose quote/escape character</li>
</ul>

<h2>Version 2.0</h2>
<b>Added:</b>
<ul>
    <li>Possibility to choose separator</li>
    <li>Set default separator</li>
    <li>Add additional separators</li>
    <li>Settings in Tools/Options/Miscellaneous/CSV Editor</li>
</ul>

<h2>Version 1.8.1</h2>
<ul><li>Plugin is signed</li></ul><h2>Version 1.8</h2>
<b>Added:</b>
<ul>
    <li>Move column to the begining</li>
    <li>Move column left</li>
    <li>Move column right</li>
    <li>Move column to the end</li>
    <li>All actions from toolbar are added to table toolbar</li>
    <li>Rename column (Double click on column header)</li>
</ul>
<b>Improved:</b>
<ul>
    <li>Calculating column's width</li>
</ul>
